<!-- start clients section -->
<div class="section-clients">
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            {{content.field_client}}
        </div>
    </div>
</div>
<!-- end clients section -->