
<!-- Start Counter section  -->
<section class="section fun-facts" id="counter">
    <div class="container">
      <div class="row">
        {{content.field_counter}}
      </div>
    </div>
</section>        
<!-- End Counter section  -->
