<div class="row">
  <div class="col-md-3 comments-img">
      {{user_picture}}
      <p>{{ author }}<br><span>{{created}}</span></p> 
  </div>
  <div class="col-md-9 comments-description">
    {{content}}
  </div>
</div> 
