{{content.field_banner}}

<div class="hire-us_content">
  <div class="container">
    <div class="row">
      <div class="col-md-5 heading">
      <h2>{{ node.title.value }}</h2>
      </div>
      <div class="col-md-7 main-text">
        {{content.body}}
      </div>
    </div>
  </div>
</div>

{{content.field_contents}}