<div class="testimonial">
    <div class="pic">
        {{fields.field_member_image.content}}
    </div>
    <div class="testimonial-review">
        <p class="testimonial-description">
            {{fields.field_description.content}}
        </p>
        <h4 class="testimonial-title">
            <small>{{fields.title.content}}</small>
        </h4>
    </div>
</div>