<!-- Services section  -->
<section class="section-services service-layout-3">
  <div class="container">
    <div class="row">
      <div class="inner-wrapper">
        {% for row in rows %}
          {{ row.content }}
        {% endfor %}
      </div>
    </div> 
  </div> 
</section>
<!-- End Services section  -->